/**
 ** General
 **/

* {
	font-family: 'Rubik', sans-serif;
}

body {
   min-width: 350px;
	min-height: 350px;
	margin: 0;
	padding: 0;
}

.column {
	display: flex;
	flex-direction: column;
}

.content {
	padding: 15px;
	align-items: center;
}

button {
	cursor: pointer;
}

button:focus, button:active {
	outline: none;
}

p, h4 {
	color: #3d3d4e;
}

/**
 **  Toggle's
 **/

.actions .container {
	width: 100%;
	display: flex;
}

.actions .container > button > span {
	font-weight: 500;
	font-size: 14px;
}

.actions > .container > .main {
	border-radius: 25px;
	border: 1px solid rgba(61, 61, 78, 0.1);
	padding: 15px;
	position: relative;
	color: white;
	flex: 1;
}

.actions > .container > .main:not(:last-child) {
	margin-bottom: 15px;
}

.actions > .container > .settings {
	right: 10px;
	outline: none;
	border-radius: 50%;
	width: 47px;
	height: 47px;
	margin-left: 15px;
	border: 1px solid rgba(61, 61, 78, 0.1);
}

.actions > .container > .settings > i {
	color: white;
}

.follow-color {
	background-color: #0095f6;
}

.logout {
	background-color: brown;
	margin-top: 15px;
}